<div>
	<table>
		<thead>
			<tr>
				<th>Date</th>
				<th>Name</th>
				<th>Age</th>
				<th>Relationship</th>
				<th>Greeting</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="birthday in birthdays">
				<td>{{birthday.formattedDate}}</td>
				<td>{{birthday.name}}</td>
				<td>{{birthday.age}}</td>
				<td>{{birthday.relationship}}</td>
				<td>{{birthday.greeting}}</td>
				<td>
					<button ng-click="editBirthday(birthday)">edit</button>
				</td>
				<td>
					<button ng-click="deleteBirthday(birthday)">delete</button>
				</td>
			</tr>
		</tbody>
	</table>
	<button ng-click="redirectAdd()">add new birthday</button>
</div>